#background {
  fill: black;
}

#myLabel {
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 262;
  fill: white;
}

#time{
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 112;
  fill: white;
  
}

#dateLabel{
  x: 50%;
  y: 165;
  font-size: 40;
  fill: yellow;
  text-anchor: middle;
  text-length: 32;
}
