#background {
    fill: black;
  }
  
  #myLabel {
    font-size: 100;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 210;
    fill: white;
  }
  
  #time{
    font-size: 110;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 90;
    fill: white;
    
  }
  
  #dateLabel{
    x: 50%;
    y: 50%;
    font-size: 40;
    fill: yellow;
    text-anchor: middle;
    text-length: 32;
  }